body {
	font-family: 'Orbitron', sans-serif;
	border: 10px solid #212121;
}
p,
h2,
h3 {
	margin: 0;
}
.container {
	margin: 0 auto;
	padding: 50px 40px 30px 160px;
}

/* header */

.header {
	display: flex;
	padding: 40px 110px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.logo {
	display: flex;
	align-items: center;
}
.logo-name,
.logo-occupation {
	margin: 0;
	text-transform: uppercase;
}
.logo-wrap {
	display: flex;
	flex-direction: column;
}
.logo-img-wrap {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	transition: transform .8s;
}
.logo-img {
	display: block;
	width: 100%;
	cursor: pointer;
	transition: transform .8s;
}
.logo-img:hover {
	transform: rotate(360deg);
}

/* main-nav */
.main-nav {
	display: flex;
	margin-left: auto;
}
.home-link,
.skills-link,
.works-link,
.contacts-link {
	position: relative;
	font-size: 22px;
	color: #212121;
	display: block;
	line-height: 60px;
	height: 60px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 100px;
	outline: transparent;
}
.home-link::after,
.skills-link::after,
.works-link::after,
.contacts-link::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #212121;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: all .3s ease-out;
}

.fa-home,
.fa-cog,
.fa-eye,
.fa-envelope {
	transition: all .3s ease-out;
}

.home-link:hover:after {
	content: 'home';
	opacity: 1;
}
.skills-link:hover:after {
	content: 'skills';
	opacity: 1;
}
.works-link:hover:after {
	content: 'works';
	opacity: 1;
}
.contacts-link:hover:after {
	content: 'contacts';
	opacity: 1;
}

.home-link:hover .fa-home::before {
	opacity: 0;
}
.skills-link:hover .fa-cog::before {
	opacity: 0;
}
.works-link:hover .fa-eye::before {
	opacity: 0;
}
.contacts-link:hover .fa-envelope::before {
	opacity: 0;
}

/* home */
.home {
	display: flex;
	/* min-height: 100vh; */
}
.avatar {
	width: 200px;
	height: 200px;
	margin-right: 100px;
	flex-shrink: 0;
}
.foto {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 50%;
	padding: 10px;
	border: 1px solid #212121;
}
.home-content {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.typing-text {
	margin-bottom: 30px;
}
.typing-text > span {
	font-family: 'Orbitron', sans-serif;
	font-size: 70px;
	font-weight: 700;
	text-transform: uppercase;
	color: #212121;
	margin: 0 auto;
}
.natali {
	border-bottom: 3px solid #08fdd8;
	font-weight: 700;
}
.introduction-wrap {
}
.introduction {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	text-align: justify;
	color: #212121;
	margin: 0;
}
.heart {
	width: 50px;
	min-height: 45px;
	line-height: 45px;
	height: auto;
	font-size: 30px;
	/* margin: 0 auto; */
}
.fa-heart {
	animation: heartbeat 1s linear infinite;
	color: #ff6699;
}

@keyframes heartbeat {
	0% {
		transform: scale(.75);
	}
	20% {
		transform: scale(1);
	}
	40% {
		transform: scale(.75);
	}
	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(.75);
	}
	100% {
		transform: scale(.75);
	}
}

/* social-nav */
.social-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 759px;
	left: 0;
	top: 0;
	background-color: #212121;
}
.social-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 300px;
}
.github,
.codepen,
.facebook,
.linkedin {
	display: block;
	text-decoration: none;
	font-size: 28px;
	color: white;
}
.github:hover .fa-github {
	color: #08fdd8;
	transform: scale(1.2);
}
.codepen:hover .fa-codepen {
	color: #08fdd8;
	transform: scale(1.2);
}
.facebook:hover .fa-facebook-square {
	color: #08fdd8;
	transform: scale(1.2);
}
.linkedin:hover .fa-linkedin {
	color: #08fdd8;
	transform: scale(1.2);
}

.follow-me {
	color: #08fdd8;
	font-size: 12px;
	text-transform: uppercase;
}

.title {
	text-transform: uppercase;
	margin: 0 0 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid #08fdd8;
}
.info {
	margin: 0;
	line-height: 2;
}

.skill-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 250px;
}
.skill-list li {
	margin-bottom: 10px;
	width: 50%;
}
/* .my-works */
.my-works,
.contacts {
	display: flex;
	flex-direction: column;
}
.works-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.item {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	margin-bottom: 50px;
	width: 45%;
}
.description {
	width: 70%;
}
.description h3,
.description p {
	margin-bottom: 20px;
}
.link {
	text-decoration: none;
	font-weight: 700;
}
.creativia,
.travel,
.todo,
.foody {
	width: 400px;
	height: 500px;
	border: 2px solid black;
	overflow: hidden;
	cursor: pointer;
	box-shadow: 5px 9px 27px 0px rgba(0, 0, 0, 0.5);
	margin-bottom: 20px;
}
.creativia img,
.travel img,
.todo img,
.foody img {
	display: block;
	width: 100%;
	height: auto;
	transition: all 8s ease-in-out;
}
.creativia:hover img {
	transform: translateY(-76%);
}
.travel:hover img {
	transform: translateY(-51%);
}

/* contacts */
.contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.2);
}
.download-resume {
	display: inline-block;
	font-size: 24px;
	color: #212121;
	text-decoration: none;
}

.download-resume::before {
	content: url(../img/pdf.svg);
	margin-right: 10px;
}
.purpose-wrap {
}
.purpose {
	position: relative;
	width: 38%;
	text-align: left;
	margin: 0 0 25px 0;
}
.purpose::before {
	position: absolute;
	top: 0px;
	left: -20px;
	content: '';
	display: block;
	height: 58px;
	width: 2px;
	background: #08fdd8;
}
.details {
	width: 22%;
}
.phone,
.email,
.location {
	display: flex;
	margin-bottom: 10px;
}
.phone p,
.email p,
.location p {
	margin: 0 0 0 10px;
}
.fa-phone,
.fa-envelope-open,
.fa-map-marker-alt {
	color: #08fdd8;
}

.to-page-nav {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #08fdd8;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
	transition: background-color, box-shadow .2s linear;
}

.to-page-nav::before {
	display: inline-block;
	height: 20px;
	width: 20px;
	content: "";
	background: url(../img/up-chevron-button.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
}
