.header {
	display: flex;
	padding: 40px 110px;
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);
	// background-color: $social-color;
	@media screen and (max-width: 999px) {
		padding: 10px;
	}
}
.logo {
	display: flex;
	align-items: center;
}
.logo-name,
.logo-occupation {
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	@media screen and (max-width: 999px) {
		font-size: 10px;
	}
}
.logo-wrap {
	display: flex;
	flex-direction: column;
}
.logo-img-wrap {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.logo-img {
	display: block;
	width: 100%;
	cursor: pointer;
	transition: transform .8s;
}
.logo-img:hover {
	transform: rotate(360deg);
	transition: transform .8s;
}

/* main-nav */
.main-nav {
	display: flex;
	margin-left: auto;
	@media screen and (max-width: 999px) {
		display: none;
	}
}

.home-link,
.skills-link,
.works-link,
.contacts-link {
	position: relative;
	font-size: 22px;
	color: $main-color;
	display: block;
	line-height: 60px;
	height: 60px;
	text-decoration: none;
	cursor: pointer;
	margin-left: 100px;
	outline: transparent;
}
.home-link::after,
.skills-link::after,
.works-link::after,
.contacts-link::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $main-color;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: all .5s ease;
}

.fa-home,
.fa-cog,
.fa-eye,
.fa-envelope {
	transition: all .5s ease;
}

.home-link:hover:after {
	content: 'home';
	opacity: 1;
	transition: all .5s ease;
}
.skills-link:hover:after {
	content: 'skills';
	opacity: 1;
	transition: all .5s ease;
}
.works-link:hover:after {
	content: 'works';
	opacity: 1;
	transition: all .5s ease;
}
.contacts-link:hover:after {
	content: 'contacts';
	opacity: 1;
	transition: all .5s ease;
}

.home-link:hover .fa-home::before {
	opacity: 0;
	transition: all .5s ease;
}
.skills-link:hover .fa-cog::before {
	opacity: 0;
	transition: all .5s ease;
}
.works-link:hover .fa-eye::before {
	opacity: 0;
	transition: all .5s ease;
}
.contacts-link:hover .fa-envelope::before {
	opacity: 0;
	transition: all .5s ease;
}

// Mobile nav
.mobile-icon {
	display: none;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;
	@media screen and (max-width: 999px) {
		display: inline-block;
		margin-left: auto;
		& span {
			display: block;
			position: absolute;
			height: 9px;
			width: 100%;
			background: #333333;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;
			&:nth-child(1) {
				top: 0px;
			}
			&:nth-child(2),
			&:nth-child(3) {
				top: 13px;
			}
			&:nth-child(4) {
				top: 26px;
			}
		}
	}
}
.responsive-nav {
	display: none;
	@media screen and (max-width: 999px) {
		padding: 50px 0;

		& .nav-link {
			display: block;
			text-decoration: none;
			padding: 10px 0;
			text-align: center;
			color: $social-color;
			text-transform: uppercase;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
.mobile-icon-active {
	& span {
		&:nth-child(1) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
		&:nth-child(2) {
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			top: 12px;
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}
}

.menu-open {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	left: 0;
	margin-top: 70px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: auto;
}

// Sticky header
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
