.skills {
	@extend %container;
	@media screen and (max-width: 999px) {
		padding: 10px;
	}
}
.skill-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 250px;
	@media screen and (max-width: 999px) {
		height: auto;
	}
}
.skill-list li {
	margin-bottom: 10px;
	width: calc(100%/3);
	font-size: 18px;
	@media screen and (max-width: 999px) {
		width: 100%;
		font-size: 16px;
	}
}
.fa-angle-double-right {
	color: $accent-color;
	font-weight: 700;
	margin-right: 10px;
}
.skills-title {
	@extend %title;
}
