.social-nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: $main-color;
	@media screen and (max-width: 999px) {
		position: static;
		width: 100%;
		height: auto;
	}
}
.social-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 300px;
	@media screen and (max-width: 999px) {
		flex-direction: row;
		height: auto;
		padding: 10px;
	}
}

.github,
.codepen,
.facebook,
.linkedin {
	display: block;
	text-decoration: none;
	font-size: 28px;
	color: $social-color;
	transition: all 250ms ease;
	@media screen and (max-width: 999px) {
		margin-right: 15px;
	}
}
.github:hover {
	& .fa-github {
		color: $accent-color;
		transform: scale(1.2);
		transition: all 250ms ease;
	}
}
.codepen:hover {
	& .fa-codepen {
		color: $accent-color;
		transform: scale(1.2);
	}
}
.facebook:hover {
	& .fa-facebook-square {
		color: $accent-color;
		transform: scale(1.2);
		transition: all 250ms ease;
	}
}
.linkedin:hover {
	& .fa-linkedin {
		color: $accent-color;
		transform: scale(1.2);
		transition: all 250ms ease;
	}
}

.follow-me {
	color: $accent-color;
	font-size: 12px;
	text-transform: uppercase;
	@media screen and (max-width: 999px) {
		margin-right: 15px;
	}
}
