%container {
	margin: 0 auto;
	padding: 50px 40px 30px 160px;
}

%title {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0 0 30px;
	padding-bottom: 10px;
	border-bottom: 2px solid $accent-color;
}
